<div class="col-md-6">
<form ngNativeValidate #addUserForm="ngForm"  (ngSubmit)="onSubmit(addUserForm)"> 
    <div class="form-group">
      <label for="FirstName">First Name*</label>
      <input type="text" #FirstName class="form-control" [(ngModel)]="user.FirstName" placeholder="First Name" name="FirstName" required>
    </div>
    <div class="form-group">
      <label for="LastName">Last Name*</label>
      <input type="text" class="form-control" [(ngModel)]="user.LastName" placeholder="Last Name"  name="LastName" required>
    </div>
    <div class="form-group">
      <label for="Employee_ID">Employee ID*</label>
      <input type="text" class="form-control" [(ngModel)]="user.Employee_ID" placeholder="Employee ID" name="EmployeeID" required>

    </div>
  <div class="form-group btn-toolbar">
    <button type="submit" class="btn btn-primary btn-sm btn-space">{{ user?.User_ID == Undefined ? 'Add User' : 'Update User' }}</button>
    <input type="reset" class="btn btn-secondary btn-sm btn-space" (click)="resetModel()" value="Reset">
  </div>
</form>
</div>