<div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/Projects']">Add Project</a></li>
        <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/Tasks']">Add Task</a></li>
        <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/Users']">Add User</a></li>
        <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/ViewTasks']">View Task</a></li>
      </ul>
    </div>
    </div>
