<div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">User Selection</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div *ngIf="error.isError" class="alert alert-danger col-sm-8">
              <button type="button" class="close" aria-label="Close" (click)="deleteAlert()"><span aria-hidden="true">&times;</span></button>
            {{ error.errorMessage }}
        </div>  
        <div class="row">
             <div class=" col-sm-8">
            <select #user name="user" class="form-control" [(ngModel)]="selectedValue" required (change)="onChange($event)">
                  <option value="">---Select User---</option>  
                  <option *ngFor="let user of usersList |  orderBy: sortstring:false" [value]="user.User_ID">
                      {{user.FirstName}} {{user.LastName}}
                    </option>
                  </select>
            </div>
                  <!-- <input [(ngModel)]="user.name" type="text">
        <input [(ngModel)]="user.age" type="number"> -->
        <div  class=" col-sm-4">
        <button (click)="passBack()" type="submit" class="form-control btn btn-primary">Set User</button>
    </div>
    </div>
      </div>