.dotted{
    border:none;
    border-top:1px dotted;
}

.btn-margin{
margin-left:10px;
margin-top: 10px;
margin-bottom: 10px;
}

.sortlinks{

    margin-left: 10px;
    text-decoration: none;
}

.active{
    background: yellow;
}


input{
    font-size:13px;
  }

.hidden{
    display: none;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

    table th, table td {
        overflow: hidden;
    }