.modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  input {
    margin-bottom: 10px;
  }

  .btn-space{
    margin-left: 10px;
}

.btn-toolbar{
   margin-left:65%;
}

select[required]{
    border: 1px solid orange !important;
}

input{
  font-size:13px;
}